{% load static %}
<footer id="footer-bar" class="d-flex flex-column navbar-light bg-light">
    <header class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-2">
        <div class="footer-img mb-1 mb-md-0">
            <a class="footer-brand" href="#">
                <img class="logo" src="{% static 'img/logo_footer.png' %}" alt="Logo" style="width: 200px; padding: 15px;">
            </a>
        </div>

        <div class="contact-info text-center text-md-left">
            <h2>Contact Information:</h2>
            <ul class="list-unstyled">
                <li class="nav-item my-2">
                    <span id="footer-text" class="nav-link">Address: Chicago, Illinois, USA</span>
                </li>
                <li class="nav-item my-2">
                    <span id="footer-text" class="nav-link">Email: hello@littlelemon.com</span>
                </li>
            </ul>
        </div>
    </header>
    <div class="text-center">
        <p id="text-copyright" class=""><b><h3>© Copyright. All rights reserved.</h3></b></p>
    </div>
</footer>
